.home-form-header30 {
  gap: var(--dl-space-space-twounits);
  height: auto;
  align-items: center;
  padding-top: 3vh;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  justify-content: center;
}
.home-form-image {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  margin: auto;
  position: absolute; /*fixed: to a background to the whole page*/
  object-fit: cover;
}
.home-form-container {
  width: 100%;
  bottom: 0px;
  height: 100%;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(96, 95, 95, 0.77); /*color in front of the image - cor na frente da imagem*/
}
.home-form-image1 {
  width: auto;
  height: 25%;
  align-self: center;
  object-fit: cover;
  padding-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.home-form-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  height: auto;
  display: flex;
  padding: 10%;
  z-index: 1;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: center;
}
.home-form-container01 {
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.home-form-container02 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-form-container03 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-form-container04 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-form-text {
  color: #ffffff;
  width: 594px;
  height: auto;
  font-size: 45px;
  text-align: center;
  font-family: "IBM Plex Sans Condensed";
  padding-top: 13px;
  padding-right: var(--dl-space-space-halfunit);
}
.home-form-container05 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.home-form-text1 {
  color: #ffffff;
  align-self: center;
}
.home-form-max-width1 {
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-form-form { /*form1*/
  width: 100%;
  height: auto;
  align-self: flex-end;
  padding-left: 0px;
  padding-right: 0px;
}
.home-form-container06 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
}
.home-form-input {
  width: 100%;
  align-self: flex-start;
  justify-content: space-between;
}
.home-form-text-input {
  flex: 1;
  background-color: #fdcf0c;
}
.home-form-input1 {
  width: 100%;
  align-self: flex-start;
  justify-content: space-between;
}
.home-form-text-input1 {
  flex: 1;
  background-color: #fdcf0c;
}
.home-form-input2 {
  width: 100%;
  align-self: flex-start;
  justify-content: space-between;
}
.home-form-text-input2 {
  flex: 1;
  background-color: #fdcf0c;
}
.home-form-input3 {
  width: 100%;
  align-self: flex-start;
  justify-content: space-between;
}
.home-form-text-input3 {
  flex: 1;
  background-color: #fdcf0c;
}
.home-form-button {
  color: #fdcf0c;
  align-self: stretch;
  background-color: #464643;
}
.home-form-container07 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.home-form-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.home-form-container09 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media(max-width: 1440px) {
  .home-form-header30 {
    height: auto;
    padding-bottom: 40px;
  }
  .home-form-container {
    top: 0px;
    right: 0px;
    width: 100%;
    position: absolute;
    align-items: stretch;
  }
  .home-form-max-width {
    width: 100%;
    height: auto;
    align-items: center;
    padding-top: 75hm;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column-reverse;
    padding-bottom: 0px;
    justify-content: center;
  }
  .home-form-container01 {
    height: auto;
  }
  .home-form-container02 {
    height: 100%;
  }
  .home-form-container03 {
    width: 100%;
    height: 100%;
  }
  .home-form-container04 {
    width: 100%;
    height: 100%;
  }
  .home-form-text1 {
    text-align: center;
  }
  .home-form-max-width1 {
    width: auto;
  }
}
@media(max-width: 1280px) {
  .home-form-max-width {
    padding: 5%;
    flex-direction: column-reverse;
  }
  .home-form-container01 {
    height: 100%;
  }
}
@media(max-width: 1024px) {
  .home-form-header30 {
    width: 100%;
    height: auto;
  }
  .home-form-container {
    width: 100%;
  }
  .home-form-image1 {
    width: auto;
    height: 20%;
    margin: var(--dl-space-space-halfunit);
  }
  .home-form-max-width {
    width: 100%;
    height: auto;
    padding: 102px;
  }
  .home-form-container01 {
    width: 100%;
    height: 100%;
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-form-container02 {
    width: 100%;
    padding-right: 0px;
  }
  .home-form-container04 {
    width: auto;
  }
  .home-form-text {
    width: 579px;
    height: 151px;
    text-align: center;
    margin-right: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .home-form-container05 {
    width: 100%;
  }
  .home-form-max-width1 {
    width: auto;
    height: auto;
    padding-top: 1px;
  }
  .home-form-form {
    padding-top: 20%;
  }
  .home-form-input {
    align-items: center;
    flex-direction: row;
  }
  .home-form-input1 {
    align-items: center;
    flex-direction: row;
  }
  .home-form-input2 {
    align-items: center;
    flex-direction: row;
  }
  .home-form-input3 {
    align-items: center;
    flex-direction: row;
  }
}
@media(max-width: 640px) {
  .home-form-header30 {
    width: 100%;
    height: 100%;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .home-form-container {
    width: 100%;
    height: 100%;
  }
  .home-form-image1 {
    width: auto;
    height: 158px;
    margin: 0px;
  }
  .home-form-max-width {
    width: 100%;
    height: 100%;
    padding: var(--dl-space-space-oneandhalfunits);
  }
  .home-form-container01 {
    width: 100%;
    height: auto;
    align-self: center;
    padding-top: 90px;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: flex-start;
  }
  .home-form-container02 {
    width: auto;
    height: auto;
    margin-bottom: 0px;
  }
  .home-form-container03 {
    width: 100%;
    height: 100%;
    align-self: center;
  }
  .home-form-container04 {
    width: auto;
    height: auto;
  }
  .home-form-text {
    width: auto;
    height: auto;
    align-self: center;
    padding-top: 2px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-form-container05 {
    width: auto;
    align-items: center;
  }
  .home-form-max-width1 {
    width: auto;
    height: auto;
    align-self: center;
    padding-top: 5%;
    padding-right: 4px;
  }
  .home-form-form {
    width: 407px;
    padding-top: 0px;
  }
  .home-form-container06 {
    width: 100%;
  }
}
@media(max-width: 360px) {
  .home-form-header30 {
    height: auto;
    padding-top: 90px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-form-image {
    width: 100%;
    height: 100%;
  }
  .home-form-container {
    width: 100%;
    height: 100%;
  }
  .home-form-image1 {
    width: auto;
    height: 15%;
    margin: 11px;
    align-self: center;
    margin-right: 19px;
  }
  .home-form-max-width {
    width: 100%;
    height: auto;
    margin: 58px;
    margin-top: 58px;
    margin-left: 58px;
    padding-top: var(--dl-space-space-oneandhalfunits);
    margin-right: 58px;
    margin-bottom: 58px;
    padding-bottom: 0px;
  }
  .home-form-container01 {
    width: 100%;
    height: auto;
    padding: var(--dl-space-space-fiveunits);
    align-self: center;
    align-items: center;
    padding-top: var(--dl-space-space-unit);
    padding-left: 4px;
    padding-right: 1px;
    flex-direction: column;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    justify-content: flex-start;
  }
  .home-form-container02 {
    width: 100%;
    height: 100%;
    padding-right: 0px;
  }
  .home-form-container03 {
    width: 100%;
    height: auto;
  }
  .home-form-container04 {
    width: 100%;
    height: auto;
  }
  .home-form-text {
    width: auto;
    height: auto;
    min-width: auto;
    padding-right: 0px;
  }
  .home-form-container05 {
    width: auto;
    height: auto;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .home-form-text1 {
    align-self: center;
  }
  .home-form-max-width1 {
    width: auto;
    height: auto;
    align-self: center;
    align-items: center;
    padding-top: 5%;
    padding-right: 0px;
    padding-bottom: 5%;
    justify-content: center;
  }
  .home-form-form {
    width: auto;
    height: auto;
    align-self: center;
    margin-top: 0px;
    padding-top: 0px;
  }
}

.thanks-container {
  gap: var(--dl-space-space-unit);
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-bottom: 89px;
}
.thanks-image {
  width: 20%;
  object-fit: contain;
}
.thanks-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  height: 290px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.thanks-container1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.thanks-title {
  text-align: center;
  font-family: "IBM Plex Sans Condensed";
}
.thanks-text {
  text-align: center;
  font-family: "IBM Plex Sans Condensed";
}
.thanks-button {
  font-size: 25px;
  box-shadow: 5px 5px 10px 0px rgba(49, 48, 48, 0.62);
  font-family: "IBM Plex Sans Condensed"; /*Exo 2*/
  pointer-events: none;
}
.thanks-image1 {
  width: 46px;
  height: 46px;
  margin-top: 3%;
  object-fit: cover;
}
@media(max-width: 1440px) {
  .thanks-container {
    height: 100%;
  }
  .thanks-image {
    width: auto;
  }
  .thanks-max-width {
    height: 100%;
  }
  .thanks-text {
    margin-bottom: 1.25%;
  }
  .thanks-button {
    font-size: 120%;
    padding-top: 0.75%;
    padding-left: 0.75%;
    padding-right: 0.75%;
    padding-bottom: 0.75%;
    pointer-events: none;
  }
  .thanks-image1 {
    margin-top: 5%;
  }
}
@media(max-width: 1280px) {
  .thanks-max-width {
    width: auto;
    height: auto;
  }
}
@media(max-width: 1024px) {
  .thanks-container {
    margin-right: 0px;
    padding-bottom: 123px;
  }
  .thanks-image1 {
    margin-top: 3%;
  }
}
@media(max-width: 640px) {
  .thanks-container {
    width: 100%;
    height: 100%;
    margin-right: 0px;
    padding-bottom: 127px;
  }
  .thanks-max-width {
    width: auto;
    height: 100%;
    margin-left: 0px;
  }
  .thanks-container1 {
    width: 387px;
    height: 497px;
  }
  .thanks-button {
    width: auto;
    height: auto;
    font-size: 100%;
    align-self: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }
  .thanks-image1 {
    width: 10%;
    margin-top: var(--dl-space-space-unit);
  }
}
@media(max-width: 360px) {
  .thanks-container {
    height: 100%;
  }
  .thanks-image {
    height: 8%;
  }
  .thanks-max-width {
    width: 100%;
    height: auto;
  }
  .thanks-container1 {
    width: 100%;
    height: 100%;
  }
  .thanks-title {
    width: auto;
  }
  .thanks-text {
    width: auto;
    height: 100%;
  }
  .thanks-button {
    width: 100%;
    height: 100%;
    font-size: 70%;
    margin-top: 13px;
    margin-right: 0px;
    pointer-events: none;
  }
}

.image-text-layout349 {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: stretch;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: space-between;
  background-color: #232323;
}
.image-text-max-width {
  gap: var(--dl-space-space-fiveunits);
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  background-color: #232323;
}
.image-text-image-container {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
}
.image-text-placeholder-image {
  width: 100%;
  height: 888px;
  align-self: stretch;
}
.image-text-content {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.image-text-section-title {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.image-text-text {
  color: #ffffff;
  font-family: "IBM Plex Sans Condensed";
}
.image-text-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.image-text-text1 {
  color: #fdcf0c;
  font-family: "IBM Plex Sans Condensed";
}
.image-text-text2 {
  color: #fbfbfb;
  font-size: 18px;
  font-family: "IBM Plex Sans Condensed";
}
@media(max-width: 1440px) {
  .image-text-layout349 {
    height: 828px;
    margin-top: 4px;
    padding-top: 0px;
    margin-bottom: 0px;
  }
  .image-text-max-width {
    width: 1334px;
    height: 715px;
  }
  .image-text-image-container {
    width: 592px;
    height: 100%;
  }
  .image-text-placeholder-image {
    height: 879px;
    padding-bottom: 0px;
  }
  .image-text-content {
    width: 648px;
    height: 692px;
  }
  .image-text-section-title {
    height: 100%;
    align-self: stretch;
  }
  .image-text-content1 {
    height: auto;
  }
  .image-text-text2 {
    width: 575px;
  }
}
@media(max-width: 1280px) {
  .image-text-max-width {
    width: auto;
  }
  .image-text-image-container {
    width: auto;
    height: auto;
  }
  .image-text-content {
    width: auto;
    height: auto;
    margin-right: 0px;
  }
  .image-text-section-title {
    height: 100%;
  }
  .image-text-content1 {
    height: 100%;
  }
  .image-text-text2 {
    width: auto;
    height: auto;
  }
}
@media(max-width: 1024px) {
  .image-text-layout349 {
    width: 100%;
    height: 1273px;
  }
  .image-text-max-width {
    gap: var(--dl-space-space-twounits);
    width: auto;
    height: auto;
    flex-direction: column;
  }
  .image-text-image-container {
    width: 100%;
    height: 50%;
    padding-top: 0px;
  }
  .image-text-placeholder-image {
    width: 100%;
    height: 407px;
    padding-top: 0px;
  }
  .image-text-content {
    padding-left: 27px;
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 640px) {
  .image-text-layout349 {
    width: auto;
    height: auto;
  }
  .image-text-max-width {
    width: 100%;
    height: auto;
    margin-bottom: 0px;
  }
  .image-text-image-container {
    width: 100%;
    padding-bottom: 0px;
  }
  .image-text-placeholder-image {
    height: 477px;
  }
  .image-text-content {
    width: 100%;
    padding-left: 13px;
    padding-right: 0px;
  }
  .image-text-section-title {
    height: 100%;
  }
  .image-text-content1 {
    height: auto;
  }
  .image-text-text2 {
    width: 100%;
    height: 100%;
  }
}
@media(max-width: 360px) {
  .image-text-layout349 {
    width: 100%;
    height: 100%;
    margin: 4px;
  }
  .image-text-max-width {
    width: 100%;
    height: 100%;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .image-text-image-container {
    width: auto;
    height: auto;
    padding-bottom: 0px;
  }
  .image-text-placeholder-image {
    width: 479px;
    height: 277px;
    align-self: center;
  }
  .image-text-content {
    width: auto;
    height: 100%;
    margin-left: 0px;
    padding-left: 2%;
    padding-right: 0px;
  }
  .image-text-section-title {
    width: 100%;
  }
  .image-text-content1 {
    width: auto;
    height: auto;
  }
  .image-text-text2 {
    width: 288px;
    height: 1094px;
  }
}

.infos-contact20 {
  height: 612px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
}
.infos-max-width {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.infos-section-title {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.infos-content {
  gap: var(--dl-space-space-oneandhalfunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.infos-row {
  gap: var(--dl-space-space-threeunits);
  height: 297px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
.infos-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.infos-contact-info {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.infos-content2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
}
.infos-text {
  color: rgb(253, 207, 12);
  align-self: stretch;
  text-align: left;
  font-family: "IBM Plex Sans Condensed";
  background-color: rgba(6, 6, 5, 0.63);
}
.infos-text1 {
  align-self: flex-start;
  text-align: left;
  font-family: "IBM Plex Sans Condensed";
}
.infos-content3 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.infos-content4 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.infos-contact-info1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.infos-content5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
}
.infos-text2 {
  color: rgb(253, 207, 12);
  align-self: stretch;
  text-align: right;
  font-family: "IBM Plex Sans Condensed";
  background-color: rgba(6, 6, 5, 0.63);
}
.infos-text3 {
  text-align: right;
  font-family: "IBM Plex Sans Condensed";
}
.infos-container {
  left: 0px;
  right: 0px;
  bottom: -2px;
  height: 15%;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  background-color: #fdcf0c;
}

@media(max-width: 1440px) {
  .infos-contact20 {
    width: auto;
    height: 564px;
    padding-bottom: 0pxThreeUnits;
  }
  .infos-max-width {
    height: 100%;
  }
  .infos-row {
    width: 100%;
    height: 100%;
  }
  .infos-container {
    top: top;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 20%;
    margin: auto;
    align-items: center;
    border-width: 0px;
  }
}
@media(max-width: 1024px) {
  .infos-contact20 {
    height: 680px;
  }
}
@media(max-width: 640px) {
  .infos-contact20 {
    height: 100%;
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 20%;
    justify-content: center;
  }
  .infos-section-title {
    max-width: 100%;
  }
  .infos-row {
    flex-direction: column;
  }
  .infos-content1 {
    height: 100%;
  }
  .infos-content3 {
    height: auto;
  }
  .infos-text2 {
    color: rgb(253, 207, 12);
    font-family: 'IBM Plex Sans Condensed';
    background-color: rgba(6, 6, 5, 0.63);
  }
  .infos-container {
    bottom: 0px;
    height: 8%;
    margin-right: auto;
  }
}
@media(max-width: 360px) {
  .infos-contact20 {
    height: auto;
  }
  .infos-section-title {
    max-width: 100%;
  }
  .infos-row {
    width: auto;
    height: auto;
    align-items: stretch;
  }
  .infos-container {
    bottom: 0px;
    height: 5%;
  }
}

.pillars-layout251 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: #1d1c1c;
}
.pillars-button {
  color: #f7c902;
  border-color: #f7c902;
  /*pointer-events: none;*/
}
.pillars-max-width {
  gap: var(--dl-space-space-threeunits);
  height: 405px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pillars-column {
  gap: var(--dl-space-space-halfunit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  align-items: flex-start;
  flex-shrink: 0;
}
.pillars-content {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.pillars-row {
  height: 330px;
  align-items: flex-start;
}
.pillars-feature2 {
  flex: 1;
}
.pillars-content1 {
  height: 303px;
  align-self: stretch;
  align-items: flex-start;
}
.pillars-feature2-title {
  height: 104px;
  align-self: stretch;
  font-style: normal;
  text-align: center;
  font-family: "IBM Plex Sans Condensed";
  font-weight: 700;
  padding-top: 21px;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #fdcf0c;
}
.pillars-text {
  align-self: stretch;
  text-align: center;
}
.pillars-feature2-description {
  height: 100%;
  align-self: stretch;
  font-style: normal;
  text-align: left;
  font-weight: 500;
  line-height: 1.5;
  background-color: #fdfcfc;
}
.pillars-text2 {
  height: 100%;
  align-self: stretch;
  text-align: left;
}
.pillars-feature21 {
  flex: 1;
}
.pillars-content2 {
  height: 303px;
  align-self: stretch;
  align-items: flex-start;
}
.pillars-feature2-title1 {
  align-self: stretch;
  font-style: normal;
  text-align: center;
  font-family: "IBM Plex Sans Condensed";
  font-weight: 700;
  background-color: #fdcf0c;
}
.pillars-feature2-description1 {
  height: 100%;
  align-self: stretch;
  font-style: normal;
  text-align: left;
  font-weight: 500;
  line-height: 1.5;
  background-color: #fdfcfc;
}
.pillars-feature3 {
  flex: 1;
}
.pillars-content3 {
  height: 306px;
  align-self: stretch;
  align-items: flex-start;
}
.pillars-feature3-title {
  height: 113px;
  align-self: stretch;
  font-style: normal;
  text-align: center;
  font-family: "IBM Plex Sans Condensed";
  font-weight: 700;
  padding-top: 19px;
  background-color: #FDCF0C;
}
.pillars-feature3-description {
  height: 100%;
  align-self: stretch;
  font-style: normal;
  text-align: left;
  font-weight: 500;
  line-height: 1.5;
  background-color: #fffefe;
}
@media(max-width: 1440px) {
  .pillars-feature2-title {
    height: 111px;
    padding-top: 21px;
  }
}
@media(max-width: 1280px) {
  .pillars-button {
    font-family: 'IBM Plex Sans Condensed';
  }
  .pillars-max-width {
    height: 100%;
  }
  .pillars-row {
    height: 100%;
  }
  .pillars-content1 {
    height: 100%;
  }
  .pillars-content2 {
    height: 100%;
  }
  .pillars-content3 {
    height: 100%;
  }
  .pillars-feature3-title {
    height: 78px;
    padding-top: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 1024px) {
  .pillars-layout251 {
    height: 100%;
    padding-top: 83px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .pillars-button {
    padding-top: var(--dl-space-space-halfunit);
    flex-direction: column-reverse;
    justify-content: flex-start;
  }
  .pillars-max-width {
    width: auto;
    height: auto;
    max-width: 100%;
    align-self: center;
    max-height: 100%;
    flex-direction: column-reverse;
  }
  .pillars-section-title {
    align-items: flex-start;
    flex-direction: column;
  }
  .pillars-content {
    height: 100%;
    align-self: stretch;
  }
  .pillars-row {
    width: 100%;
    height: 100%;
  }
  .pillars-feature2 {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
  }
  .pillars-content1 {
    height: auto;
    position: relative;
  }
  .pillars-feature2-title {
    height: 100%;
    font-style: normal;
    font-family: 'IBM Plex Sans Condensed';
    font-weight: 700;
    padding-top: 21px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-unit);
    background-color: rgb(253, 207, 12);
  }
  .pillars-feature2-description {
    width: 100%;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    background-color: rgb(253, 252, 252);
  }
  .pillars-feature21 {
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .pillars-content2 {
    height: auto;
  }
  .pillars-feature2-title1 {
    width: 100%;
    height: 100%;
    font-size: 25px;
    font-family: 'IBM Plex Sans Condensed';
  }
  .pillars-feature2-description1 {
    width: 100%;
  }
  .pillars-feature3 {
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .pillars-content3 {
    height: auto;
  }
  .pillars-feature3-title {
    height: 100%;
    font-family: 'IBM Plex Sans Condensed';
    padding-top: 25px;
    padding-bottom: var(--dl-space-space-unit);
  }
  .pillars-feature3-description {
    width: 100%;
  }
}
@media(max-width: 640px) {
  .pillars-layout251 {
    height: 100%;
  }
  .pillars-button {
    padding: var(--dl-space-space-halfunit);
    align-items: center;
    margin-bottom: 10%;
    flex-direction: column-reverse;
  }
  .pillars-max-width {
    width: 100%;
    height: 100%;
    margin-right: 3px;
  }
  .pillars-column {
    width: 100%;
  }
  .pillars-content {
    height: 100%;
  }
  .pillars-row {
    height: 100%;
    flex-direction: column;
  }
  .pillars-feature2 {
    width: auto;
  }
  .pillars-feature2-description {
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    background-color: rgb(253, 252, 252);
  }
  .pillars-feature21 {
    width: auto;
  }
  .pillars-feature2-title1 {
    font-style: normal;
    font-family: 'IBM Plex Sans Condensed';
    font-weight: 700;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: 21px;
    background-color: rgb(253, 207, 12);
  }
  .pillars-feature3 {
    width: auto;
  }
}
@media(max-width: 360px) {
  .pillars-layout251 {
    width: 100%;
    height: 100%;
    padding-top: var(--dl-space-space-oneandhalfunits);
  }
  .pillars-button {
    width: auto;
  }
  .pillars-max-width {
    width: 100%;
    height: 100%;
    align-self: center;
    margin-right: 0px;
  }
  .pillars-column {
    height: 100%;
  }
  .pillars-content {
    width: 100%;
    height: 100%;
  }
  .pillars-row {
    width: 100%;
    height: 100%;
    align-self: stretch;
  }
  .pillars-feature2 {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .pillars-content1 {
    width: 100%;
    height: 100%;
  }
  .pillars-feature21 {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .pillars-content2 {
    width: 100%;
    height: 100%;
  }
  .pillars-feature3 {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .pillars-content3 {
    width: 100%;
    height: 100%;
  }
  .pillars-feature3-title {
    height: auto;
    padding-bottom: 19px;
  }
}

.galerry-gallery3 {
  width: 100%;
  height: 762px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: 0px;
  flex-direction: column;
  padding-bottom: 840px;
  justify-content: flex-start;
}
.galerry-max-width {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 878px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.galerry-section-title {
  gap: 24px;
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
}
.galerry-text {
  text-align: center;
  font-family: "IBM Plex Sans Condensed";
}
.galerry-text1 {
  text-align: center;
  font-family: "Fira Sans";
}
.galerry-container {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.galerry-content {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  height: 650px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.galerry-slider {
  width: 100%;
  height: 600px;
  display: inline-block;
}
.galerry-slider-wrapper {
  width: 100%;
}
.galerry-slider-slide {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: 558px;
  display: flex;
}
.galerry-container1 {
  flex: 0;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.galerry-image1 {
  height: 100%;
  align-self: stretch;
  object-fit: scale-down; /*cover / none / scale-down*/
}
.galerry-container2 {
  flex: 0;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.galerry-image2 {
  height: 100%;
  align-self: stretch;
  object-fit: scale-down; /*cover / none / scale-down*/
}
.galerry-slider-slide1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: calc(100% - 20px);
  display: flex;
}
.galerry-container3 {
  flex: 0;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.galerry-image3 {
  width: 100%;
  height: 100%;
  object-fit: scale-down; /*none / scale-down  /\/  cover / */
}
.galerry-container4 {
  flex: 0;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.galerry-image4 {
  width: 100%;
  height: 100%;
  object-fit: none; /*cover / none / scale-down*/
}
.galerry-slider-slide2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: calc(100% - 20px);
  display: flex;
}
.galerry-container5 {
  flex: 0;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.galerry-image5 {
  width: 100%;
  height: 100%;
  object-fit: none; /*cover / none / scale-down*/
}
.galerry-container6 {
  flex: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.galerry-image6 {
  width: 100%;
  height: 100%;
  object-fit: scale-down; /*cover / none / scale-down*/
}
.galerry-slider-pagination {
  display: block;
}
.galerry-container7 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}

@media(max-width: 1024px) {
  .galerry-content {
    align-items: center;
    flex-direction: column;
  }
}
@media(max-width: 640px) {
  .galerry-section-title {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .galerry-slider-slide {
    flex-direction: column;
  }
  .galerry-container1 {
    height: calc(50% - 8px);
  }
  .galerry-container2 {
    height: calc(50% - 8px);
  }
  .galerry-slider-slide1 {
    flex-direction: column;
  }
  .galerry-container3 {
    height: calc(50% - 8px);
  }
  .galerry-container4 {
    height: calc(50% - 8px);
  }
  .galerry-slider-slide2 {
    flex-direction: column;
  }
  .galerry-container5 {
    height: calc(50% - 8px);
  }
  .galerry-container6 {
    height: calc(50% - 8px);
  }
}
@media(max-width: 360px) {
  .galerry-gallery3 {
    height: 990px;
  }
  .galerry-max-width {
    height: auto;
  }
  .galerry-section-title {
    max-width: 100%;
  }
  .galerry-container {
    align-self: center;
  }
  .galerry-content {
    height: auto;
  }
  .galerry-slider {
    height: 100%;
  }
  .galerry-container7 {
    height: var(--dl-size-size-medium);
  }
}

.testimonials-max-width {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.testimonials-slider {
  width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
}
.testimonials-slider-slide {
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.testimonials-container1 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.testimonials-video {
  width: auto;
  height: 20%;
  align-self: center;
}
.testimonials-stars {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.testimonials-avatar {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
}
.testimonials-avatar-image {
  width: 56px;
  height: 56px;
}
.testimonials-avatar-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.testimonials-text02 {
  font-style: normal;
  font-weight: 600;
}
.testimonials-slider-slide1 {
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.testimonials-container2 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.testimonials-video1 {
  width: auto;
  height: 20%;
  align-self: center;
}
.testimonials-stars1 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.testimonials-avatar1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
}
.testimonials-avatar-image1 {
  width: 56px;
  height: 56px;
}
.testimonials-avatar-content1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.testimonials-text15 {
  font-style: normal;
  font-weight: 600;
}
.testimonials-slider-slide2 {
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.testimonials-container3 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.testimonials-video2 {
  width: auto;
  height: 20%;
}
.testimonials-stars2 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.testimonials-avatar2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
}
.testimonials-avatar-image2 {
  width: 56px;
  height: 56px;
}
.testimonials-avatar-content2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.testimonials-text22 {
  font-style: normal;
  font-weight: 600;
}
.testimonials-slider-pagination {
  width: 100%;
  display: block;
}
.testimonials-slider-button-prev {
  display: block;
}
.testimonials-slider-button-next {
  display: block;
}

@media(max-width: 1440px) {
  .testimonials-text {
    font-family: 'IBM Plex Sans Condensed';
  }
  .testimonials-slider-slide {
    height: auto;
  }
  .testimonials-container1 {
    width: 100%;
  }
  .testimonials-text02 {
    font-style: normal;
    font-weight: 600;
  }
  .testimonials-slider-slide1 {
    margin-bottom: 0px;
  }
  .testimonials-container2 {
    width: 100%;
  }
  .testimonials-avatar-content1 {
    width: 100%;
    height: 100%;
  }
  .testimonials-text15 {
    font-weight: 600;
  }
  .testimonials-container3 {
    width: 100%;
  }
  .testimonials-avatar-content2 {
    width: auto;
    height: auto;
  }
  .testimonials-text22 {
    font-style: normal;
    font-weight: 600;
  }
  .testimonials-slider-pagination {
    fill: var(--dl-color-theme-neutral-dark);
    color: #ffffff;
  }
}
@media(max-width: 640px) {
  .testimonials-slider-slide {
    width: 100%;
    height: auto;
    padding: var(--dl-space-space-threeunits);
  }
  .testimonials-avatar {
    flex-direction: column;
  }
  .testimonials-slider-slide1 {
    padding: var(--dl-space-space-threeunits);
  }
  .testimonials-avatar1 {
    flex-direction: column;
  }
  .testimonials-slider-slide2 {
    padding: var(--dl-space-space-threeunits);
  }
  .testimonials-avatar2 {
    flex-direction: column;
  }
}
@media(max-width: 360px) {
  .testimonials-slider-slide {
    padding: var(--dl-space-space-oneandhalfunits);
  }
  .testimonials-avatar-content {
    align-items: center;
    justify-content: center;
  }
  .testimonials-slider-slide1 {
    padding: var(--dl-space-space-oneandhalfunits);
  }
  .testimonials-avatar-content1 {
    align-items: center;
    justify-content: center;
  }
  .testimonials-slider-slide2 {
    padding: var(--dl-space-space-oneandhalfunits);
  }
  .testimonials-avatar-content2 {
    align-items: center;
    justify-content: center;
  }
}

.form-contact9 {
  height: 998px;
  display: flex;
  position: relative;
  box-shadow: 5px 5px 10px 0px #0e0e0e;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  background-size: cover;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.26) 60.00%,rgb(0, 0, 0) 100.00%,rgb(0, 0, 0) 100.00%),linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0.00%,rgba(8, 8, 8, 0.97) 100.00%),url("../public/img181-1500h.jpg");
}
.form-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  padding-top: 332px;
  flex-direction: column;
}
.form-image {
  width: auto;
  height: 25%;
  align-self: center;
  object-fit: cover;
  padding-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
}
.form-text {
  color: rgb(253, 252, 246);
  height: 92px;
  font-size: 27px;
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-halfunit);
  text-transform: capitalize;
}
.form-content {
  gap: 0;
  flex: 1;
  align-items: stretch;
}
.form-section-title {
  gap: var(--dl-space-space-unit);
  height: 115px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: 72px;
  padding-right: 76px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.form-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  height: 129px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.form-text04 {
  color: rgb(253, 207, 12);
  align-self: stretch;
  text-align: center;
  font-family: "IBM Plex Sans Condensed"; /*Exo 2*/
}
.form-text05 {
  color: rgb(253, 207, 12);
  height: 35px;
  font-size: 18px;
  align-self: stretch;
  text-align: center;
  font-family: "IBM Plex Sans Condensed"; /*Exo 2*/
  text-transform: lowercase;
}
.form-form {
  height: 696px;
}
.form-input {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
.form-input1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
.form-input2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
.form-input3 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
.form-input4 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
.form-input5 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
.form-input6 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
.form-input7 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
.form-container1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.form-button {
  color: #413e0e;
  align-self: stretch;
}

@media(max-width: 1440px) {
  .form-contact9 {
    height: auto;
  }
  .form-max-width {
    height: 100%;
  }
  .form-container {
    height: auto;
    padding-top: var(--dl-space-space-unit);
  }
  .form-text {
    height: 100%;
  }
  .form-section-title {
    height: 100%;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .form-content1 {
    height: auto;
  }
  .form-text05 {
    color: rgb(253, 207, 12);
    width: auto;
    font-size: 18px;
    align-self: stretch;
    font-family: "IBM Plex Sans Condensed"; /*Exo 2*/
    text-transform: lowercase;
  }
  .form-text07 {
    color: #f7f7f7;
  }
  .form-text09 {
    color: #ffffff;
  }
  .form-form {
    height: 100%;
  }
}
@media(max-width: 1024px) {
  .form-contact9 {
    width: 100%;
    height: auto;
  }
  .form-max-width {
    max-width: auto;
    flex-direction: column;
  }
  .form-container {
    width: auto;
    height: auto;
    padding-top: 0px;
  }
  .form-image {
    width: auto;
    height: 20%;
    margin: var(--dl-space-space-halfunit);
  }
  .form-content {
    width: 100%;
  }
  .form-text05 {
    width: auto;
    align-self: stretch;
  }
}
@media(max-width: 640px) {
  .form-contact9 {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .form-container {
    width: auto;
    height: 100%;
    padding-top: 13px;
  }
  .form-image {
    width: auto;
    height: 158px;
    margin: 0px;
  }
  .form-section-title {
    height: 100%;
  }
}
@media(max-width: 360px) {
  .form-contact9 {
    width: 100%;
    height: 100%;
    padding: var(--dl-space-space-unit);
  }
  .form-max-width {
    width: auto;
    height: auto;
  }
  .form-container {
    width: 100%;
    height: auto;
    padding-top: 0px;
    margin-bottom: 0px;
  }
  .form-image {
    width: 50%;
    height: 5%;
    margin: 11px;
    align-self: center;
    margin-right: 3px;
  }
  .form-content {
    width: auto;
    height: 100%;
  }
  .form-section-title {
    height: 100%;
  }
  .form-content1 {
    height: 97px;
  }
  .form-text04 {
    height: 194px;
  }
  .form-form {
    height: 691px;
    padding-top: 51px;
  }
}

.footer-footer1 {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
}
.footer-container {
  height: 100%;
  display: flex;
  align-self: stretch;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  background-color: #fdcf0c;
}
.footer-button {
  display: flex;
  border-width: 0px;
  flex-direction: row;
  background-color: transparent;
}
.footer-button1 {
  display: flex;
  border-width: 0px;
  flex-direction: row;
  background-color: transparent;
}
.footer-button2 {
  display: flex;
  border-width: 0px;
  flex-direction: row;
  background-color: transparent;
}
.footer-max-width {
  display: flex;
  align-self: center;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
.footer-content {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  padding: 28px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-radius4);
}
.footer-newsletter {
  gap: 24px;
  width: 500px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer-image1 {
  width: 98px;
  height: 54px;
}
.footer-content1 {
  align-self: flex-start;
  text-align: left;
}
.footer-actions {
  gap: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-form {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-shrink: 0;
}
.footer-container1 {
  width: 365px;
  display: flex;
  align-items: flex-start;
}
.footer-text-input {
  gap: 8px;
  width: 100%;
  height: 32px;
  display: flex;
  font-size: 16px;
  box-sizing: content-box;
  text-align: left;
  align-items: center;
  font-family: Roboto;
  font-weight: 400;
  background-color: transparent;
}
.footer-content2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.footer-links {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-end;
}
.footer-column3 {
  gap: var(--dl-space-space-unit);
  width: 404px;
  display: flex;
  overflow: hidden;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer-image {
  width: 200px;
  align-self: center;
  object-fit: cover;
}
.footer-social-links {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer-link {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footer-link1 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footer-link2 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.footer-credits {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.footer-row {
  gap: 64px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.footer-footer-links {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
@media(max-width: 1440px) {
  .footer-footer1 {
    height: auto;
  }
  .footer-container {
    height: 38px;
  }
  .footer-button {
    width: 17px;
    padding: 1px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .footer-icon {
    width: 31px;
    padding: 0px;
  }
  .footer-button1 {
    padding: 0px;
    margin-left: 1px;
    padding-top: 0px;
    margin-right: 1px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .footer-icon2 {
    width: 24px;
    padding: 1px;
  }
  .footer-button2 {
    width: 15px;
    height: 24px;
    margin-left: 1px;
    padding-top: 0px;
    margin-right: 1px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .footer-icon4 {
    width: 100%;
  }
  .footer-content {
    padding-left: 2px;
    padding-right: 0px;
  }
  .footer-newsletter {
    padding-left: 19px;
  }
  .footer-links {
    width: 431px;
    padding-right: var(--dl-space-space-unit);
    justify-content: flex-end;
  }
  .footer-column3 {
    width: 331px;
  }
  .footer-social-links {
    align-self: flex-end;
    align-items: flex-end;
  }
  .footer-link {
    justify-content: flex-end;
  }
  .footer-social-link1 {
    text-align: right;
  }
  .footer-link1 {
    justify-content: flex-end;
  }
  .footer-social-link2 {
    text-align: right;
  }
  .footer-link2 {
    justify-content: flex-end;
  }
  .footer-social-link5 {
    text-align: right;
  }
  .footer-credits {
    padding-left: 20px;
  }
}
@media(max-width: 1280px) {
  .footer-footer1 {
    height: auto;
  }
  .footer-container {
    height: 42px;
  }
  .footer-button {
    width: auto;
  }
  .footer-icon {
    width: 24px;
  }
  .footer-button2 {
    width: auto;
    height: auto;
  }
  .footer-icon4 {
    width: 24px;
  }
  .footer-newsletter {
    padding-left: 12px;
  }
}
@media(max-width: 1024px) {
  .footer-footer1 {
    height: auto;
    padding-bottom: 0px;
  }
  .footer-container {
    width: auto;
    height: 36px;
  }
  .footer-button {
    width: auto;
  }
  .footer-icon {
    width: 24px;
    align-self: center;
  }
  .footer-icon2 {
    align-self: center;
  }
  .footer-button2 {
    width: auto;
  }
  .footer-icon4 {
    width: 24px;
    align-self: center;
  }
  .footer-content {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: 0px;
  }
  .footer-newsletter {
    width: 300px;
  }
  .footer-form {
    width: 100%;
    flex-direction: column;
  }
  .footer-container1 {
    width: 100%;
  }
  .footer-text-input {
    width: 100%;
    padding: var(--dl-space-space-halfunit);
  }
  .footer-links {
    padding-right: 0px;
    justify-content: flex-end;
  }
  .footer-column3 {
    width: auto;
    max-width: 100%;
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .footer-credits {
    padding: 1%;
    margin-top: 0px;
  }
}
@media(max-width: 640px) {
  .footer-footer1 {
    width: 100%;
    height: 100%;
  }
  .footer-container {
    width: 100%;
    height: 65px;
  }
  .footer-max-width {
    width: auto;
    padding: var(--dl-space-space-oneandhalfunits);
    align-self: stretch;
    flex-direction: column;
  }
  .footer-content {
    padding: 0px;
    align-self: center;
    align-items: center;
    padding-left: 3px;
    flex-direction: column;
    justify-content: center;
  }
  .footer-newsletter {
    width: 100%;
    align-items: center;
    margin-left: 0px;
    padding-left: 0px;
    justify-content: flex-start;
  }
  .footer-content1 {
    align-self: center;
    text-align: center;
  }
  .footer-actions {
    align-self: center;
  }
  .footer-form {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .footer-container1 {
    width: 100%;
  }
  .footer-links {
    width: 100%;
    align-items: center;
    padding-left: 20px;
    justify-content: center;
  }
  .footer-column3 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    margin-left: 0px;
    justify-content: center;
  }
  .footer-social-links {
    align-self: center;
  }
  .footer-row {
    flex-direction: column;
  }
}
@media(max-width: 360px) {
  .footer-footer1 {
    height: 871px;
  }
  .footer-container {
    height: 100%;
    align-self: stretch;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .footer-button {
    align-self: stretch;
  }
  .footer-button1 {
    align-self: stretch;
  }
  .footer-button2 {
    height: auto;
    align-self: stretch;
  }
  .footer-max-width {
    padding-left: 0px;
    padding-right: 0px;
  }
  .footer-content {
    padding-left: 0px;
  }
  .footer-image1 {
    align-self: center;
  }
  .footer-content1 {
    align-self: center;
  }
  .footer-actions {
    width: 100%;
  }
  .footer-form {
    width: 100%;
    flex-direction: column;
  }
  .footer-container1 {
    width: 100%;
  }
  .footer-links {
    width: 378px;
    height: 308px;
    align-self: center;
    align-items: center;
    flex-direction: column;
  }
  .footer-column3 {
    width: 100%;
    height: 305px;
    max-width: 100%;
    align-items: center;
    margin-left: 0px;
    justify-content: center;
  }
  .footer-social-links {
    align-items: center;
    justify-content: center;
  }
  .footer-social-link1 {
    text-align: center;
  }
  .footer-link1 {
    align-self: center;
  }
  .footer-social-link2 {
    align-self: center;
    text-align: center;
  }
  .footer-link2 {
    align-self: center;
  }
  .footer-credits {
    gap: 0;
  }
  .footer-row {
    align-items: center;
    justify-content: center;
  }
  .footer-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.home-container {
  width: 100%;
  display: flex;
  z-index: 100;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

/*new contact button fixed - botão fixo whatsapp*/
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  line-height: 60px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.whatsapp-button i {
  font-size: 24px;
  position: relative;
  top: 2px;
}
